<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<div id="mainbody">
<div class="page-pro w1000 mar">
  <div class="main-shopcart mar-t10">
    <h1>关于我们</h1>
    <table width="100%" cellspacing="1" cellpadding="0" border="0" class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th width="10%">栏目</th>
          <th>说明</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th>系统名称</th>
            <td class="about-us" style="text-align:left">
                <span class="about-us">基于ThinkPHP5的校园商城系统</span>
            </td>
        </tr>
        <tr>
            <th>系统概述</th>
            <td class="about-us" style="text-align:left">
                <p class="about-us">使用PHP开发一个简单版B2C校园商城，主要方便学生购买常用物品，比如纸张、笔记本、创意文化产品、笔、书籍等，以及各类打印业务的涉及。对商品进行分类，然后在网上展示商品信息、价格、以及用户的评论、打印业务的详细计费方式等等，用户加入购物车之后，可以点击购买，支持微信和支付宝的支付。</p>
            </td>
        </tr>
        <tr>
            <th>系统运行要求</th>
            <td class="about-us" style="text-align:left">
                <span class="about-us">浏览器IE12.0以上及Firefox、Chrome等主流浏览器</span>
            </td>
        </tr>
        <tr>
            <th>系统开发环境</th>
            <td class="about-us" style="text-align:left">
                <span class="about-us">基于Linux+Apache+Mysql+PHP（LAMP）的开发</span>
            </td>
        </tr>
        <tr>
            <th>代码量统计</th>
            <td class="about-us" style="text-align:left">
                <span class="about-us">
                   PHP后端代码：6000行<br/>
                   前端页面总数：34个<br/>
                   CSS前端样式：4000行<br/>
                   JS前端脚本：3000行
                </span>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="about-cont">
    <h1>联系我们</h1>
    <div class="about-contact">
      <div class="panel panel-default"> 
        <!-- Table -->
        <table width="100%" cellspacing="1" cellpadding="0" border="0" bgcolor="#dddddd" class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>城市</th>
              <th>地址</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>北京 </td>
              <td>北京市朝阳区北三环东路15号北京化工大学</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel panel-default"> 
        <!-- Table -->
        <table width="100%" cellspacing="1" cellpadding="0" border="0" bgcolor="#dddddd" class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>联系方式</th>
              <th>内容</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>电子邮件</td>
              <td>zj_buct@163.com</td>
            </tr>
            <tr>
              <td>电话 </td>
              <td>132-6021-2671</td>
            </tr>
          </tbody>
        </table>
      </div>          
      <div class="about-contact-box">
        <dl>
          <dt>乘车路线</dt>
          <dd>
            <p style="color:#4CA2D3;">开车：北京市朝阳区北三环东路15号北京化工大学</p>  
            <p style="color:#4CA2D3;">地铁：5号线和平东站，10号线惠新西街南口站</p>
          </dd>
        </dl>   
      </div>          
    </div>
    <div class = 'sidebox' id="dituContent" style="width:1000px;height:599px;margin-top:20px">
    </div>
</div>
</div>
<script type="text/javascript" src="{$Think.const.JS}baidu_map.js"></script>