<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="/static/common/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/common/css/common.css">
<link rel="stylesheet" href="/static/common/css/default.css">
<script language="javascript" src="/static/common/js/bootstrap.min.js"></script>
<script language="javascript" src="/static/common/js/jquery.min.js"></script>
<script language="javascript" src="/static/common/js/selectNav.js"></script>
<script language="javascript" src="/static/common/js/common.js"></script>
<script language="javascript" src="/static/common/js/city.min.js"></script>
<script language="javascript" src="/static/common/js/jquery.cityselect.js"></script>
<script language="javascript" src="/static/common/js/school-list.js"></script>
<script type="text/javascript">
    $(function(){
        $('.three_address').citySelect({
            prov:'北京',
            nodata:'none'
        });
    });
</script>
<style type="text/css">
    .from-group{
        width:500px;
    }
    .col-sm-6{
        width:60%;
    }
    .three_address{
        width:20%;
    }
    h1{
        width:80%;
    }
</style>
</head>
<body>
<div id="container">
  <div class="login-cont w1000 mar">
    <div class="login-top posR">
      <div class="logo2"></div>
      <div class="login-top-link posA"><a onclick='history.go(-1)' style="cursor:pointer">返回首页</a> | <a href="{:url('login/help')}">帮助</a></div>
    </div>
    <div class="page-block borA clearfix">
      <div class="login-left fl" style="width:600px;">
        <h1>用户地址管理</h1>
        <form class="form-horizontal mar-t30" method="post" action="{:url('login/addAddress')}">
            <div class="form-group mod-select">
            <label for="address" class="col-xs-2 control-label">收件地址：</label>
            <div class="col-xs-2 three_address" id="three_address">
              <select name="province" id="province" class="form-control prov"></select>
            </div>
            <div class="col-xs-2 three_address">
              <select name="city" id="city" class="form-control city"></select>
            </div>
            <div class="col-xs-2 three_address">
              <select name="district" id="district" class="form-control dist"></select>
            </div>
          </div>
          <div class="form-group">
            <label for="address" class="col-sm-2 control-label"></label>
            <div class="col-sm-6" style="width:60%">
              <input type="text" class="form-control" id="address" placeholder="街道详细地址" name="address">
            </div>
          </div>
          <div class="form-group">
            <label for="inputReceiver" class="col-sm-2 control-label">收货人：</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="inputReceiver" placeholder="请输入收货人姓名" name="receiver" style="float:left">
            </div>
          </div>
          <div class="form-group">
            <label for="inputMobile" class="col-sm-2 control-label">收货电话：</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="inputMobile" placeholder="请输入您的收货电话" name="mobile">
            </div>
          </div>
          <div class="form-group mar-t30">
            <label for="inputEmail3" class="col-sm-2 control-label"></label>
            <div class="col-sm-5">
              <button type="button" class="btn btn-success btn-lg" id="button" style="margin-left:20%" onclick="addAddress();">添加</button>
            </div>
          </div>
        </form>
      </div>
      <div class="login-right fl mar-l30" style="border-left:2px dotted #eee">
      {volist name = 'addressInfo' id = 'data'}        
        <dl>
          <dt style="color:#5CB85C">地址{$i}</dt>
          <dd>
            {$data.address_info}
          </dd>
        </dl>
        {/volist}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    function addAddress() {
      if ($('#district').val() === null) {
        var district = '';
      } else {
        var district = $('#district').val();
      }
      var province = $('#province').val();
      var city     = $('#city').val();
      var address  = $('#address').val();
      var receiver = $('#inputReceiver').val();
      var mobile   = $('#inputMobile').val();

      $.ajax({
        type : 'POST',
        url : "{:url('login/addAddress')}",
        data : {"province" : province,
                'city' : city,
                'district' : district,
                'address' : address,
                "receiver" : receiver,
                'mobile' : mobile,
                },
        dataType : 'json',
        success : function(data) {
            if (data.code) {
                alert(data.msg);
                setTimeout(function(){
                    location.href = data.url;
                }, 100);
            } else {
                alert(data.msg);
            }
        },
        error : function(request) {
            alert('页面错误！' + XMLHttpRequest.status);
        }
      });
    }
</script>
</body>
<footer>
    <div class="footer-copy mar-t30">Copyright © 2013-2015 <a href="http://www.jikexueyuan.com/" target="_blank">云印科技</a> All Rights Reversed. 京ICP备11018032号</div>
</footer>
</html>