<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="/static/common/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/common/css/common.css">
<link rel="stylesheet" href="/static/common/css/default.css">
<script language="javascript" src="/static/common/js/bootstrap.min.js"></script>
<script language="javascript" src="/static/common/js/jquery.min.js"></script>
<script language="javascript" src="/static/common/js/selectNav.js"></script>
<script language="javascript" src="/static/common/js/common.js"></script>
</head>
<body>
<div id="container">
  <div class="login-cont w1000 mar">
    <div class="login-top posR">
      <div class="logo2"></div>
      <div class="login-top-link posA"><a onclick='history.go(-1)' style="cursor:pointer">返回首页</a> | <a href="{:url('login/help')}">帮助</a></div>
    </div>
    <div class="page-block borA clearfix" style="width:700px">
      <div class="login-left fl">
        <h1>用户密码修改</h1>
        <form class="form-horizontal mar-t30" method="post" action="{:url('login/editPassword')}">
          <div class="form-group">
            <label for="inputOldPassword" class="col-sm-2 control-label">旧密码：</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" id="inputOldPassword" placeholder="请输入您的旧密码" name="oldPassword" style="float:left">
            </div>
          </div>
          <div class="form-group">
            <label for="inputNewPassword" class="col-sm-2 control-label">新密码：</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" id="inputNewPassword" placeholder="请输入您的新密码" name="newPassword">
            </div>
          </div>
          <div class="form-group">
            <label for="inputVerifyPassword" class="col-sm-2 control-label">确认密码：</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" id="inputVerifyPassword" placeholder="请确认您的新密码" name="verifyPassword">
            </div>
          </div>
          <div class="form-group mar-t30">
            <label for="inputEmail3" class="col-sm-2 control-label"></label>
            <div class="col-sm-5">
              <button type="button" class="btn btn-success btn-lg" id="button" style="margin-left:20%" onclick="editPassword();">修改</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    function editPassword() {
      var password       = $('#inputOldPassword').val();
      var newPassword    = $('#inputNewPassword').val();
      var verifyPassword = $('#inputVerifyPassword').val();
      $.ajax({
        type : 'POST',
        url : "{:url('login/editPassword')}",
        data : {"password" : password,
                "newPassword" : newPassword,
                'verifyPassword' : verifyPassword,
                },
        dataType : 'json',
        success : function(data) {
            if (data.code) {
                alert(data.msg);
                setTimeout(function(){
                    location.href = data.url;
                }, 100);
            } else {
                alert(data.msg);
            }
        },
        error : function(request) {
            alert('页面错误！');
        }
      });
    }
</script>
</body>
<footer>
    <div class="footer-copy mar-t30">Copyright © 2013-2015 <a href="http://www.jikexueyuan.com/" target="_blank">云印科技</a> All Rights Reversed. 京ICP备11018032号</div>
</footer>
</html>