{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="{$Think.const.CSS}bootstrap.min.css">
<link rel="stylesheet" href="{$Think.const.CSS}common.css">
<link rel="stylesheet" href="{$Think.const.CSS}default.css">
<link rel="stylesheet" href="{$Think.const.CSS}select_school.css">
<script language="javascript" src="{$Think.const.JS}bootstrap.min.js"></script>
<script language="javascript" src="{$Think.const.JS}jquery.min.js"></script>
<script language="javascript" src="{$Think.const.JS}selectNav.js"></script>
<script language="javascript" src="{$Think.const.JS}common.js"></script>
<script language="javascript" src="{$Think.const.JS}city.min.js"></script>
<script language="javascript" src="{$Think.const.JS}jquery.cityselect.js"></script>
<script language="javascript" src="{$Think.const.JS}school-list.js"></script>
<style type="text/css">
  .control-label {
    width:18%;
    color:#4CA2D3;
  }
</style>
<script type="text/javascript">
    $(function(){
        $('.three_address').citySelect({
            prov:'北京',
            nodata:'none'
        });
    });
</script>
</head>
<body>
<div id="container">
  <div class="login-cont w1000 mar">
    <div style="margin:1% 0;font-size:1.2em;"><span class="glyphicon glyphicon-hand-right" style="color:#4CA2D3;"></span>&nbsp;&nbsp;<a href="{:url('login/index')}">返回登录</a></div>
    <div class="page-block borA clearfix" style="width:800px;">
      <div class="register-left">
        <h1>用户注册</h1>
        <form class="form-horizontal mar-t30" method="post" action="">
        <!-- <form class="form-horizontal mar-t30" method="post" action="{:url('register/register')}"> -->
          <div class="form-group">
            <label for="inputUserName" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="inputUserName" placeholder="请输入您的用户名/手机号/电子邮箱" name="name">
            </div>
          </div>
          <div class="form-group">
            <label for="setPassword" class="col-sm-2 control-label">登录密码</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" id="setPassword" placeholder="请设置您的登录密码" name="password"> 
            </div> 
          </div>
          <div class="form-group">
            <label for="reSetPassword" class="col-sm-2 control-label">确认密码</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" id="reSetPassword" placeholder="请确认您的登录密码" name="verifyPassword"> 
            </div> 
          </div>
          <div class="form-group sex">
            <label for="sex" class="col-sm-2 control-label">性别</label>
            <div class="col-xs-2" id="register_sex">
              <label class="radio-inline"><input type="radio" name="sex" id="man" value="男" checked="checked"> 男</label>
              <label class="radio-inline"><input type="radio" name="sex" id="woman" value="女"> 女</label>
            </div>
          </div>
          <div class="form-group mod-select">
            <label for="address" class="col-xs-2 control-label">收件地址</label>
            <div class="col-xs-2 three_address" id="three_address">
              <select name="province" id="province" class="form-control prov"></select>
            </div>
            <div class="col-xs-2 three_address">
              <select name="city" id="city" class="form-control city"></select>
            </div>
            <div class="col-xs-2 three_address">
              <select name="district" id="district" class="form-control dist"></select>
            </div>
          </div>
          <div class="form-group">
            <label for="address" class="col-sm-2 control-label"></label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="address" placeholder="请输入详细街道地址" name="address">
            </div>
          </div>
          <div class="form-group" id="div-student">
            <label for="children" class="col-sm-2 control-label">是否学生</label>
            <div class="col-xs-2" id="register_student">
              <label class="radio-inline"><input type="radio" name="is_student" id="is_student" value="1" checked="checked"> 是</label>
              <label class="radio-inline"><input type="radio" name="is_student" id="no_student" value="0"> 不是</label>
            </div>
          </div>
          <div id="contain-school">
              <div class="form-group school" id="div-school">
                <label for="school" class="col-sm-2 control-label"><span class="glyphicon glyphicon-hand-right" style="color:#4CA2D3;"></span>&nbsp;&nbsp;<a href="javascript:void(0)" id="openSchoolBoxLink" style="font-weight:700;color:#4CA2D3">请选择学校</a></label>
                <div class="col-sm-3">
                  <input type="text" id="schoolInput" class="form-control" name="input_school" readonly />
                </div>
                <div class="col-sm-3">
                  <input type="text" id="schoolId" class="form-control" readonly />
                </div>
              </div>
            <div class="school-box-wrapper" style="margin-left:10%">
                <div class="school-box">
                    <div class="school-box-header">选择学校</div>
                    <div class="school-box-provinces">            
                    </div>
                    <div class="school-box-schools">            
                    </div> 
                    <div class="campus-box-campuses">
                        <a href="javascript:void(0)" class="campus-item" data-campus="1">仙林校区</a>
                    </div>          
                </div>
            </div>
          </div>
          <div class="form-group">
            <label for="captcha" class="col-sm-3 control-label">验证码</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="captcha" placeholder="验证码" name="captcha"><img src="{:captcha_src()}" alt="验证码" style="display:block;width:150px;height:40px;margin-left:200px;margin-top:-40px" id="captcha_img" onclick='this.src="{:captcha_src()}?id="+Math.random();' title="点击更换验证码">
            </div>
          </div>
          <div class="form-group mar-t30">
            <label for="inputEmail3" class="col-sm-2 control-label"></label>
            <div class="col-sm-5">
              <div class="mar-t10" style='margin-left:10%;margin-bottom:5%'></div>			
              <!-- <button type="submit" class="btn btn-lg" id="submit_register" style='margin-left:10%;width:50%;font-size: 25pt;background:#4CA2D3;border-color:#4CA2D3;color:#fff' onclick="userRegister();">注册</button> -->
              <button type="button" class="btn btn-lg" id="submit_register" style='margin-left:10%;width:50%;font-size: 25pt;background:#4CA2D3;border-color:#4CA2D3;color:#fff;' onclick="userRegister();">注册</button>
              <!-- <button type="reset" class="btn btn-success btn-lg" style='margin-left:10%;width:40%'>重置</button> -->
            </div>
          </div>
          </form>
      </div>
    </div>
    <div class="footer-copy">Copyright &copy; All Rights Reversed. BZ</div> 
  </div>
</div>
<script language="javascript" src="{$Think.const.JS}school_select.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // $('#div-school').hide();
        $("#div-student input[type='radio']").change(function(){
            var student = $("#div-student input[type='radio']:checked").val();
            if (student == '1') {
                $('#div-school').show();
            } else {
                $('#div-school').hide();
            }
        });
    });

    function userRegister() {
        var name           = $('#inputUserName').val();
        var password       = $('#setPassword').val();
        var verifyPassword = $('#reSetPassword').val();
        var sex            = $('#register_sex input[type="radio"]:checked').val();
        var isStudent      = $('#register_student input[type="radio"]:checked').val();
        var province       = $('#province').val();
        var city           = $('#city').val();
        var district       = $('#district').val();
        if (district === null) {
            district = "";
        }
        var address        = $('#address').val();
        var school         = $('#schoolInput').val();
        var captcha        = $('#captcha').val();

        $.ajax({
          "type" : "POST",
          "url" : "{:url('register/register')}",
          "data" : {
                  "name" : name,
                  "password" : password,
                  "verifyPassword" : verifyPassword,
                  "sex" : sex,
                  "province" : province,
                  "city" : city,
                  "district" : district,
                  "address" : address,
                  "isStudent" : isStudent,
                  "school" : school,
                  "captcha" : captcha,
                  },
          "dataType" : "json",
          "success" : function(data) {
                if (data.msg == "用户注册成功！") {
                    location.href = "{:url('login/index')}";
                } 
                alert(data.msg);
          },
          "error" : function(data) {
              alert('页面错误！' + XMLHttpRequest.status);
          },
        });
    }
</script>
</body>
</html>