<style type="text/css">
    .fa-window-close {
        font-size: 1.5em;
        cursor: pointer;
        color:#4CA2D3;
        margin:1%;
    }
    .control-label {
      color:#4CA2D3;
    }
</style>
<div id="container">
  <div class="admin-cont w1000 mar mar-t30 clearfix">
      <div class="admin-left fl">
        <div class="admin-nav">   
        <dl class="on">
          <dt><a href="#"><i></i>帮助中心</a></dt>
          <dd>
              <a href="{:url('HelpCenter/forgetPasswordLook')}">找回密码</a>
              <a href="{:url('HelpCenter/payOnline')}">在线支付</a>
              <a href="{:url('HelpCenter/bankPay')}">银行汇款</a>
              <a href="{:url('HelpCenter/FQA')}">常见问题</a>
          </dd>
        </dl>
        </div>
      </div>
      <div class="admin-right fl">
            <div class="panel panel-default">
            <div class="panel-heading">
              <strong style="color:#4CA2D3;font-size:1.5em;">找回密码验证码发送</strong>
            </div>
            <div class="panel-body">
              <form class="form-horizontal sms-form" method="post" action="{:url('Alidayu/smsForLook')}">
                <div class="form-group">
                  <label class="col-sm-2 control-label" style="width:10%;margin-left:-2%;">手机号</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="mobile" value="" style="width:70%;float:left;margin-right:7%;" id="forget-mobile" placeholder="请输入绑定的手机号">
                    <button type="button" style="line-height:40px;color:#FFF;background:#4CA2D3;border-radius:5px;width:120px;" onclick="setTime(this);">点击获取验证码</button>
                  </div>
                </div>
              </form>
              <form class="form-horizontal" method="post" action="#">
                  <div class="form-group">
                      <label class="col-sm-2 control-label" style="width:10%;margin-left:-2%;">验证码</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="forget-captcha" value="" style="width:70%;float:left;margin-right:7%;" id="forget-captcha" placeholder="请输入手机收到的验证码">
                        <button type="button" style="line-height:40px;color:#FFF;background:#4CA2D3;border-radius:5px;width:120px;" onclick="verifyCaptcha();">确认验证码</button>
                      </div>
                  </div>
              </form>
              <form class="form-horizontal" method="post" action="#">
                  <div class="form-group" id="div-forget-password" style="display:none;">
                      <label class="col-sm-2 control-label" style="width:10%;margin-left:-2%;">新密码</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="forget-password" value="" style="width:70%;float:left;margin-right:7%;" id="forget-password"　placeholder="请输入重置新密码">
                        <button type="button" style="line-height:40px;color:#FFF;background:#4CA2D3;border-radius:5px;width:120px;" onclick="resetPassword();">确定</button>
                      </div>
                  </div>
              </form>
            </div>
            <div class="panel-footer" style="color:red;">&nbsp;</div>
          </div>
      </div>
      <p class="clear"></p>
    </div>
</div>
<script type="text/javascript">
  //发送验证码表单
  $('.sms-form').click(function(){
    var $this = $(this);
    if(!$this.hasClass('lock-form')){
      $this.addClass('lock-form');//锁定表单
      var formData = new FormData($this[0]);
      $.ajax({
        url:$this.attr("action"),
        type:'POST',
        data:formData,
        dataType:'json',
        cache: false,
        contentType: false,
        processData: false,
        success:function(s){
          $this.removeClass('lock-form');//解锁表单
          var html = (s.code != 1 ? '错误代码：' : '') + s.msg;
          if (html == "验证码发送成功！") {
              $(".panel-footer").css("color", "green");
          }
          $('.panel-footer').html(html);
          return false;
        }
      });
    }
    return false;
  });
  //验证码按钮倒计时
  var countdown=60;
  function setTime(obj) {
      var mobile = $("#forget-mobile").val();
      var erg = /^1[3|5|7|8][0-9]\d{4,8}$/;
      if ((! erg.test(mobile)) || mobile == '') {
          return false;
      } else {
          if (countdown == 0) { 
              obj.removeAttribute("disabled");
              obj.setAttribute("style", "background:#4CA2D3;line-height:40px;color:#fff;border-radius:5px;width:120px;");
              obj.innerHTML = "点击获取验证码"; 
              countdown = 60;
              return;
          } else { 
              obj.setAttribute("disabled", true); 
              obj.setAttribute("style", "background:#8f8f8f;line-height:40px;color:#fff;border-radius:5px;width:120px;");
              obj.innerHTML = "重新发送(" + countdown + " s)"; 
              countdown--; 
          } 
          setTimeout(function() {setTime(obj)},1000);
      }
  }

  //验证验证码表单
  function verifyCaptcha() {
      var verifyCaptcha = $("#forget-captcha").val();
      $.ajax({
          url : "{:url('Alidayu/verifyCaptchaLook')}",
          type : "POST",
          data : {
              "verifyCaptcha" : verifyCaptcha,
          },
          dataType : "json",
          success:function(data){
              if (data.msg == "验证码验证成功！") {
                  $(".panel-footer").css("color", "green");
                  $("#div-forget-password").show();
              }
              $('.panel-footer').html(data.msg);
          },
          error : function() {
              $('.panel-footer').html("页面错误！");
          }
      });
      $(".panel-footer").css("color", "red");
  }

  //重置密码
  function resetPassword() {
      var forgetPassword = $("#forget-password").val();
      $.ajax({
          url : "{:url('UserInfo/resetPassword')}",
          type : "POST",
          data : {
              "forgetPassword" : forgetPassword,
          },
          dataType : "json",
          success:function(data){
              if (data.msg == "重置密码成功！") {
                  $(".panel-footer").css("color", "green");
              }
              $('.panel-footer').html(data.msg);
          },
          error : function(data) {
              $('.panel-footer').html("页面错误！");
          }
      });
  }
</script>