<style type="text/css">
    .fa-window-close {
        font-size: 1.5em;
        cursor: pointer;
        color:#4CA2D3;
        margin:1%;
    }
    .control-label {
      color:#4CA2D3;
    }
    .FQA {
      margin-left:2%;
      margin-top: 1%;
    }
    .sub-FQA {
      margin-left:4%;
      font-size:10px;
      color:#808080;
      margin-bottom: 1%;
    }
</style>
<div id="container">
  <div class="admin-cont w1000 mar mar-t30 clearfix">
      <div class="admin-left fl">
        <div class="admin-nav">   
        <dl class="on">
          <dt><a href="#"><i></i>帮助中心</a></dt>
          <dd>
              <a href="{:url('HelpCenter/forgetPasswordLook')}">找回密码</a>
              <a href="{:url('HelpCenter/payOnline')}">在线支付</a>
              <a href="{:url('HelpCenter/bankPay')}">银行汇款</a>
              <a href="{:url('HelpCenter/FQA')}">常见问题</a>
          </dd>
        </dl>
        </div>
      </div>
      <div class="admin-right fl">
            <div class="panel panel-default">
            <div class="panel-heading">
              <strong style="color:#4CA2D3;font-size:1.5em;">常见问题</strong>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label style="width:20%;margin-left:2%;font-size:1.2em;color:#4CA2D3;">订购</label>
                  <p class="FQA">怎么查询订单？</p>
                  <p class="sub-FQA">登录帐号进入我的订单即可查询</p>
                  <p class="FQA">怎么取消和修改订单？</p>
                  <p class="sub-FQA">登录帐号进入我的购物车即可修改取消订单</p>
                  <p class="FQA">不是会员可以下单吗？</p>
                  <p class="sub-FQA">不可以，只有成为校园商城的用户才能使用校园商城提供的服务，不仅限于学生哦！</p>
                  <p class="FQA">提供自主设计服务吗？</p>
                  <p class="sub-FQA">目前打印业务可以自主设计，其他少量商品可以，给您带来的不便请谅解，我们会尽快做到完全涵盖的哦！</p>
              </div>
              <div class="form-group">
                <label style="width:20%;margin-left:2%;font-size:1.2em;color:#4CA2D3;">支付</label>
                  <p class="FQA">如何让付款？</p>
                  <p class="sub-FQA">目前支持支付宝支付和微信支付</p>
                  <p class="FQA">可以货到付款吗？</p>
                  <p class="sub-FQA">可以，只需备注即可！</p>
              </div>
              <div class="form-group">
                <label style="width:20%;margin-left:2%;font-size:1.2em;color:#4CA2D3;">配送</label>
                  <p class="FQA">校园商城配送范围？</p>
                  <p class="sub-FQA">目前就是当前商城所在的城市及校园</p>
                  <p class="FQA">配送方式？</p>
                  <p class="sub-FQA">目前支持自取和校园商城配送两种方式</p>
                  <p class="FQA">配送有配送费吗？</p>
                  <p class="sub-FQA">没有配送费，校园商城全额提供配送费，一天内（16：00前下单）都可以送到</p>
              </div>
              <div class="form-group">
                <label style="width:20%;margin-left:2%;font-size:1.2em;color:#4CA2D3;">退换货</label>
                  <p class="FQA">退换货范围？</p>
                  <p class="sub-FQA">打印业务一般不予退换，其他商品如是质量问题给予退换</p>
                  <p class="FQA">退货需要多久？</p>
                  <p class="sub-FQA">确定可以退货，一天内完成退货并退回款项</p>
              </div>
            </div>
          </div>
      </div>
      <p class="clear"></p>
    </div>
</div>