<style type="text/css">
    .fa-window-close {
        font-size: 1.5em;
        cursor: pointer;
        color:#4CA2D3;
        margin:1%;
    }
    .control-label {
      color:#4CA2D3;
    }
</style>
<div id="container">
  <div class="admin-cont w1000 mar mar-t30 clearfix">
      <div class="admin-left fl">
        <div class="admin-nav">   
        <dl class="on">
          <dt><a href="#"><i></i>帮助中心</a></dt>
          <dd>
              <a href="{:url('HelpCenter/forgetPasswordLook')}">找回密码</a>
              <a href="{:url('HelpCenter/payOnline')}">在线支付</a>
              <a href="{:url('HelpCenter/bankPay')}">银行汇款</a>
              <a href="{:url('HelpCenter/FQA')}">常见问题</a>
          </dd>
        </dl>
        </div>
      </div>
      <div class="admin-right fl">
            <div class="panel panel-default">
            <div class="panel-heading">
              <strong style="color:#4CA2D3;font-size:1.5em;">在线支付</strong>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label style="width:15%;margin-left:2%;font-size:1.2em;color:#4CA2D3;">支付宝支付</label>
                  <p style="margin-left:2%;">校园商城支持支付宝支付，用户选择“支付宝支付”可立即完成支付，并即时到账。</p>
              </div>
              <div class="form-group">
                <label style="width:15%;margin-left:2%;font-size:1.2em;color:#4CA2D3;">微信支付</label>
                  <p style="margin-left:2%;">校园商城支持微信支付，用户选择“微信支付”可立即完成支付，并即时到账。</p>
              </div>
            </div>
          </div>
      </div>
      <p class="clear"></p>
    </div>
</div>