<footer id="footer" class="mar-t50">
    <div class="w1000 mar">
      <div class="footer-links clearfix">
        <dl>
          <dt>客户服务</dt>
          <dd><a href="#">· 打印服务</a> <a href="#">· 商务打印</a> <a href="#">· 图像服务</a> <a href="#">· 广告服务</a> </dd>
        </dl>
        <dl>
          <dt>用户中心</dt>
          <dd><a href="#">· 用户协议</a> <a href="#">· 服务流程</a> <a href="#">· 词汇百科</a> <a href="#">· 常见问题</a> </dd>
        </dl>
        <dl>
          <dt>店铺中心</dt>
          <dd><a href="#">· 店铺协议</a> <a href="#">· 店铺入驻</a> <a href="#">· 店铺管理</a> <a href="#">· 常见问题</a> </dd>
        </dl>
        <dl>
          <dt>关于我们</dt>
          <dd><a href="#">· 公司简介</a> <a href="#">· 新闻中心</a> <a href="#">· 诚聘英才</a> <a href="#">· 联系我们</a> </dd>
        </dl>
      </div>
    </div>
    <div class="footer-copy">Copyright © 2013-2015 <a href="http://www.jikexueyuan.com/" target="_blank">云印科技</a> All Rights Reversed. 京ICP备11018056号</div> 
</footer>