<div id="footer" class="mar-t50">
    <div class="w1000 mar">
      <div class="footer-links clearfix">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <dl>
                <dt>新手入门</dt>
                <dd><a href="{:url('register/index')}">用户注册</a> <a href="#">找回密码</a></dd>
              </dl>
            </div>
            <div class="col-sm-3">
              <dl>
                  <dt>安全支付</dt>
                  <dd><a href="#">在线支付</a> <a href="#">银行汇款</a></dd>
              </dl>
            </div>
            <div class="col-sm-3">
              <dl>
                <dt>帮助中心</dt>
                <dd><a href="#">常见问题</a> <a href="{:url('login/aboutUs')}">联系我们</a></dd>
              </dl>
            </div>
            <div class="col-sm-3">
              <dl>
              </dl>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <div class="footer-copy">Copyright &copy; All Rights Reversed. BZ</div>  
  <!--/footer end--> 
</div>
</body>
</html>