<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="{$Think.const.CSS}bootstrap.min.css">
<link rel="stylesheet" href="{$Think.const.CSS}common.css">
<link rel="stylesheet" href="{$Think.const.CSS}default.css">
<link rel="stylesheet" href="{$Think.const.CSS}baidu_map.css">
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}shop.css">
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}lunbo.css">
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}big_glass.css">
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}font-face.css">
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}font-awesome.css">
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}uploadfile.css">
<link rel="stylesheet" href="{$Think.const.CSS}select_school.css">
<script language="javascript" src="{$Think.const.JS}bootstrap.min.js"></script>
<script language="javascript" src="{$Think.const.JS}jquery.min.js"></script>
<script type="text/javascript" src="{$Think.const.JS}jquery.form.js"></script>
<script language="javascript" src="{$Think.const.JS}jquery.cookie.js"></script>
<script language="javascript" src="{$Think.const.JS}selectNav.js"></script>
<script language="javascript" src="{$Think.const.JS}common.js"></script>
<script language="javascript" src="{$Think.const.JS}lunbo.js"></script>
<script language="javascript" src="{$Think.const.JS}city.min.js"></script>
<script language="javascript" src="{$Think.const.JS}jquery.cityselect.js"></script>
<script language="javascript" src="{$Think.const.JS}school-list.js"></script>
<script language="javascript" src="{$Think.const.JS}jquery.fly.min.js"></script>
<script language="javascript" src="{$Think.const.JS}requestAnimationFrame.js"></script>
<style type="text/css">
    .pagination{
        text-align: center;
        float:right;
    }
    .about-us {
    	text-align:left;
    }
</style>
</head>
<body>