<header id="header"> 
<!--topbar-->
<div class="topbar">
  <div class="w1000 mar posR">
    <div class="topInfo"><a href="#">用户注册</a> | <a href="#">登录</a> 欢迎您<b><a href="#">&nbsp;{$name}!</a></b></div>
    <ul>
      <li class="dropMenu posR"> <a href="#">我的云印</a>
        <div class="dropMenuList posA" style="width:120px"> 
            <i class="arrow"></i> 
            <a href="#"><img src="/static/common/icon/order.png" alt="order.png" style="width:16px;height:16px">&nbsp;&nbsp;我的订单</a><br/>
            <a href="#"><img src="/static/common/icon/address.png" alt="address.png" style="width:16px;height:16px">&nbsp;&nbsp;收货地址</a><br/>
            <a href="#"><img src="/static/common/icon/comment.png" alt="comment.png" style="width:16px;height:16px">&nbsp;&nbsp;我的评价</a><br/>
            <a href="#"><img src="/static/common/icon/collection.png" alt="collection.png" style="width:16px;height:16px">&nbsp;&nbsp;我的收藏</a><br/> 
            <a href="#"><img src="/static/common/icon/member.png" alt="member.png" style="width:16px;height:16px">&nbsp;&nbsp;个人中心</a><br/> 
            <a href="#"><img src="/static/common/icon/logout.png" alt="logout.png" style="width:16px;height:16px">&nbsp;&nbsp;退出登录</a><br/> 
        </div>
      </li>
      <li class="mar-l10"><a href="#">我的购物车</a></li>
      <li class="dropMenu posA" style="right:80px;"> <a href="#">我的店铺</a>
        <div class="dropMenuList"> <i class="arrow"></i> <a href="#">我的店铺</a> <a href="#">密码管理</a> </div>
      </li>
      <li class="posA" style="right:0;"><a href="#">新店入驻</a></li>
      </dd>
    </ul>
  </div>
</div>
<!--/topbar end--> 
<!--logo-bar-->
<div class="logo-bar mar w1000 posR"> <a href="#" class="logo posA"></a>
  <div class="top-city posA">
    <dl class="city clearfix">
      <dt><a href="#" class="city-tab">切换区域</a></dt>
      <dd>北京 市辖区 海淀区 中关村</dd>
    </dl>
    <dl class="school clearfix">
      <dt><a href="#" class="city-tab">切换学校</a></dt>
      <dd>中国人民大学 主校区</dd>
    </dl>
  </div>
  <div class="top-search posA">
    <div id="selectnav" class="search-select fl">
      <div class="select">
        <h2 s-data="0">选择</h2>
        <ul class="select-nav">
          <li><a href="#" s-data="1">职业</a></li>
        </ul>
      </div>
    </div>
    <input type="text" class="fi-search fl" />
    <button type="submit" class="btn btn-search fl" />
  </div>
  <div class="top-keyword posA">&nbsp; 热门关键字：<a href="#">北京语言大学</a> <a href="#">复印</a> <a href="#">打印</a></div>
</div>
<!--/logo-bar end--> 
<!--nav-->
<div class="nav-cont">
  <div class="nav w1000 mar"> <a href="#" class="on">首页</a> <a href="#">店铺</a> <a href="#">服务</a> <a href="#">客户端</a> <a href="#">诚聘英才</a> <a href="#">关于我们</a> </div>
</div>
<!--/nav end--> 
</header>