<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="/static/common/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/common/css/common.css">
<link rel="stylesheet" href="/static/common/css/default.css">
<link rel="stylesheet" type="text/css" href="/static/common/css/shop.css">
<link rel="stylesheet" type="text/css" href="/static/common/css/lunbo.css">
<script language="javascript" src="/static/common/js/bootstrap.min.js"></script>
<script language="javascript" src="/static/common/js/jquery.min.js"></script>
<script language="javascript" src="/static/common/js/selectNav.js"></script>
<script language="javascript" src="/static/common/js/common.js"></script>
<script language="javascript" src="/static/common/js/lunbo.js"></script>
</head>