<div class="righter nav-navicon" id="admin-nav">
	<div class="mainer">
		<div class="admin-navbar">
			<span class="float-right">
            <a class="button button-little bg-main" href="#">前台首页</a>
            <a class="button button-little bg-yellow" href="login.html">注销登录</a>
        </span>
			<ul class="nav nav-inline admin-nav">
				<li>
					<a href="index.html" class="fa fa-shopping-basket">&nbsp;商品</a>
					<ul>
						<li><a href="system.html">商品父类型管理</a></li>
						<li><a href="content.html">商品类型管理</a></li>
						<li><a href="#">商品管理</a></li>
					</ul>
				</li>
				<li>
					<a href="system.html" class="icon-home">&nbsp;店铺</a>
					<ul>
						<li class="active"><a href="#">店铺管理</a></li>
					</ul>
				</li>
				<li class="active">
					<a href="content.html" class="icon-user">&nbsp;会员</a>
					<ul>
						<li class="active"><a href="#">会员管理</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="icon-shopping-cart">&nbsp;订单</a>
					<ul>
						<li class="active"><a href="#">订单管理</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="fa fa-user-secret">&nbsp;超级管理员</a>
					<ul>
						<li class="active"><a href="#">超级管理员管理</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="admin-bread">
			<span style="margin-right:20px;">欢迎您&nbsp;<a href="" style="color:#4CA2D3;">{$name}&nbsp;<img src="{$adminImage}" alt="头像"　width="30" height="30" style="margin-bottom:5px;"></a></span>
			<ul class="bread">
				<li><a href="index.html" class="icon-user">&nbsp;会员</a></li>
				<li>会员管理</li>
			</ul>
		</div>
	</div>
</div>
<div class="admin">
	<div class="panel admin-panel">
		<div class="panel-head"><strong>内容列表</strong></div>
		<div class="padding border-bottom">
			<input type="button" class="button button-small checkall" name="checkall" checkfor="id" value="全选" />
			<input type="button" class="button button-small border-green" value="添加文章" />
			<input type="button" class="button button-small border-yellow" value="批量删除" />
			<input type="button" class="button button-small border-blue" value="回收站" />
		</div>
		<table class="table table-hover">
			<tr>
				<th width="45">选择</th>
				<th width="120">分类</th>
				<th width="*">名称</th>
				<th width="100">时间</th>
				<th width="100">操作</th>
			</tr>
			<tr>
				<td>
					<input type="checkbox" name="id" value="1" />
				</td>
				<td>起步</td>
				<td>下载拼图框架</td>
				<td>2014-10-1</td>
				<td><a class="button border-blue button-little" href="#">修改</a> <a class="button border-yellow button-little" href="#" onclick="{if(confirm('确认删除?')){return true;}return false;}">删除</a></td>
			</tr>
		</table>
		<div class="panel-foot text-center">
			<ul class="pagination">
				<li><a href="#">上一页</a></li>
			</ul>
			<ul class="pagination pagination-group">
				<li><a href="#">1</a></li>
				<li class="active"><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
			</ul>
			<ul class="pagination">
				<li><a href="#">下一页</a></li>
			</ul>
		</div>
	</div>
	<p class="text-center text-gray">Copyright &copy; All Rights Reversed. BZ</p>
</div>