<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>校园商城首页</title>
    <link rel="stylesheet" type="text/css" href="/static/common/css/shop.css">
</head>
<body>
    <ul class="topmenu">
        <div class="toptitle">
            全部商品分类
        </div>
        {foreach $list as $k => $data}
        <li><a href="#">{$k}</a><span></span>
            <div class="submenu">
            {if condition = "$data neq null"}
                <div class="leftdiv">
                {foreach $data as $kk => $v}
                    <dl>
                        <dt><a href="#">{$kk}</a></dt>
                    {if condition = "$v neq null"}
                        <dd>
                        {foreach $v as $vv}
                            {if condition = "$vv neq null"}
                            <a href="#">{$vv.name}</a>
                            {/if}
                        {/foreach}
                        </dd>
                    {/if}
                    </dl>
                {/foreach}
                </div>
            {/if}
                <div class="rightdiv">
                    <dl>
                        <dd>
                            <a href="#">
                                <img src="/static/common/pic/10.jpg" width="194" height="70" title="打印">
                            </a>
                        </dd>
                        <dd>
                            <a href="#">
                                <img src="/static/common/pic/15.jpg" width="194" height="70" title="打印">
                            </a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>推荐打印店</dt>
                        <dd>
                            <a href="#">北化打印店</a>
                        </dd>
                        <dd>
                            <a href="#">朝阳打印店</a>
                        </dd>
                    </dl>
                    <img class="rightPic" src="http://img.mukewang.com/541120c80001aae401970164.jpg"/>
                </div>
            </div>
        </li>
        {/foreach}
    </ul>
</body>
</html>
