{include file="../common/head.html"}
<body>
<div id="container"> 
  <!--header-->
    {include file = 'common:header'}
  <!--/header end--> 
  
  <!--mainbody-->
  <div id="mainbody">
    <div class="page-pro w1000 mar">
      <div class="page-top">
        <ul class="topmenu">
        <div class="toptitle">
            全部商品分类
        </div>
        <li><a href="#">打印业务</a><span></span>
            <div class="submenu">
                <div class="leftdiv">
                    <dl>
                        <dt><a href="./service.html">论文</a></dt>
                        <dd>
                            <a href="#">论文排版</a> <a href="#">论文打印</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="#">名片</a></dt>
                        <dd>
                            <a href="#">名片设计</a> <a href="#">名片</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="#">横幅</a></dt>
                        <dd>
                            <a href="#">横幅设计</a> <a href="#">横幅批发</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="#">装订</a></dt>
                        <dd>
                            <a href="#">装订</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="#">复印</a></dt>
                        <dd>
                            <a href="#">文档打印</a> <a href="#">照片冲洗</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="#">简历</a></dt>
                        <dd>
                            <a href="#">保密打印</a> <a href="#">简历</a>
                        </dd>
                    </dl>  
                </div>
                <div class="rightdiv">
                    <dl>
                        <dd>
                            <a href="#">
                                <img src="/static/common/pic/10.jpg" width="194" height="70" title="打印">
                            </a>
                        </dd>
                        <dd>
                            <a href="#">
                                <img src="/static/common/pic/15.jpg" width="194" height="70" title="打印">
                            </a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>推荐打印店</dt>
                        <dd>
                            <a href="#">北化打印店</a>
                        </dd>
                        <dd>
                            <a href="#">朝阳打印店</a>
                        </dd>
                    </dl>
                    <img class="rightPic" src="http://img.mukewang.com/541120c80001aae401970164.jpg"/>
                </div>
            </div>
        </li>
        <li><a href="#">纸张</a></li>
        <li><a href="#">笔记本</a></li>
        <li><a href="#">创意文化产品</a></li>
        <li><a href="#">笔</a></li>
        <li><a href="#">书籍</a></li>
        <li><a href="#">电脑配件</a></li>
    </ul>
        <div class="slider"> 
          <ul class="slider-main"> 
           <li class="slider-panel"> 
            <a href="#" target="_blank"><img alt="打印" title="打印" src="/static/common/pic/7.jpg"></a> 
           </li> 
           <li class="slider-panel"> 
            <a href="#" target="_blank"><img alt="打印" title="打印" src="/static/common/pic/2.jpg"></a> 
           </li> 
           <li class="slider-panel"> 
            <a href="#" target="_blank"><img alt="打印" title="打印" src="/static/common/pic/5.jpg"></a> 
           </li> 
           <li class="slider-panel"> 
            <a href="#" target="_blank"><img alt="打印" title="打印" src="/static/common/pic/3.jpg"></a> 
           </li><li class="slider-panel"> 
            <a href="#" target="_blank"><img alt="打印" title="打印" src="/static/common/pic/6.jpg"></a> 
           </li> 
          </ul> 
          <div class="slider-extra"> 
           <ul class="slider-nav"> 
            <li class="slider-item">1</li> 
            <li class="slider-item">2</li> 
            <li class="slider-item">3</li> 
            <li class="slider-item">4</li> 
            <li class="slider-item">5</li> 
           </ul> 
           <div class="slider-page"> 
            <a class="slider-pre" href="javascript:;;">&lt;</a> 
            <a class="slider-next" href="javascript:;;">&gt;</a> 
           </div> 
          </div> 
         </div>
      </div>
      <div class="shop-block mar-t20">
        <div class="pro-block-content fl">
          <div class="shop-pro">
            <ul>
              <li>
                <a href="#"><img src="/static/common/pic/10.jpg" width="215" height="205"></a>
                <b>￥1.00</b>
                <span class="intro">彩色打印1元不包邮费，需要的赶快下单</span>
                <span class="info">销量：<i>12342</i> <br><a href="#">评价：342</a></span>				
              </li>
              <li>
                <a href="#"><img src="/static/common/pic/11.jpg" width="215" height="205"></a>
                <b>￥1.00</b>
                <span class="intro">彩色打印1元不包邮费，需要的赶快下单</span>
                <span class="info">销量：<i>12342</i> <br><a href="#">评价：342</a></span>
              </li>
              <li>
                <a href="#"><img src="/static/common/pic/12.jpg" width="215" height="205"></a>
                <b>￥1.00</b>
                <span class="intro">彩色打印1元不包邮费，需要的赶快下单</span>
                <span class="info">销量：<i>12342</i> <br><a href="#">评价：342</a></span>
              </li>
              <li>
                <a href="#"><img src="/static/common/pic/10.jpg" width="215" height="205"></a>
                <b>￥1.00</b>
                <span class="intro">彩色打印1元不包邮费，需要的赶快下单</span>
                <span class="info">销量：<i>12342</i> <br><a href="#">评价：342</a></span>
              </li>
              <li>
                <a href="#"><img src="/static/common/pic/11.jpg" width="215" height="205"></a>
                <b>￥1.00</b>
                <span class="intro">彩色打印1元不包邮费，需要的赶快下单</span>
                <span class="info">销量：<i>12342</i> <br><a href="#">评价：342</a></span>
              </li>
              <li>
                <a href="#"><img src="/static/common/pic/12.jpg" width="215" height="205"></a>
                <b>￥1.00</b>
                <span class="intro">彩色打印1元不包邮费，需要的赶快下单</span>
                <span class="info">销量：<i>12342</i> <br><a href="#">评价：342</a></span>
              </li>
              <p class="clear"></p>
            </ul>
          </div>
          <div class="shop-page">
            <nav class="pull-right">
                <ul class="pagination">
                  <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li> <a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                </ul>
              </nav>
          </div>
        </div>
        <div class="pro-block-sidebar fl mar-l10">
          <div class="sidebox">
            <h2>打印店地址</h2>
            <p><img src="/static/common/pic/13.jpg" width="215"></p>
          </div> 
          <div class="sidebox">
            <h2>工作时间</h2>
            <p>上班时间：8:00</p>
			<p>下班时间：20:00</p>
          </div> 
        </div>
        <p class="clear"></p>
      </div>
      <!--pro-blcok--> 
    </div>
  </div>
  <!--/mainbody--> 
  {include file = 'common:footer'}
  <!--footer-->
</body>
</html>