<div id="mainbody">
    <div class="page-pro w1000 mar">
      <div class="page-top">
        <ul class="topmenu">
        <div class="toptitle">
            全部商品分类
        </div>
        {foreach $list as $k => $data}
        <li><a href="#">{$k}</a><span></span>
            <div class="submenu">
            {if condition = "$data neq null"}
                <div class="leftdiv">
                {foreach $data as $kk => $v}
                    <dl>
                        <dt><a href="#">{$kk}</a></dt>
                    {if condition = "$v neq null"}
                        <dd>
                        {foreach $v as $vv}
                            {if condition = "$vv neq null"}
                            <a href="{:url('CommiditiesInfo/getCommidityInfoByCommidityId', ['commidityId' => $vv.id])}">{$vv.name}</a>
                            {/if}
                        {/foreach}
                        </dd>
                    {/if}
                    </dl>
                {/foreach}
                </div>
            {/if}
                <div class="rightdiv">
                    <dl>
                        <dd>
                            <a href="#">
                                <img src="{$vv.image}" width="194" height="200" title="{$vv.name}">
                            </a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>推荐店铺</dt>
                        <dd>
                            <a href="#">北化打印店</a>
                        </dd>
                        <dd>
                            <a href="#">朝阳打印店</a>
                        </dd>
                    </dl>
                    <!-- <img class="rightPic" src="http://img.mukewang.com/541120c80001aae401970164.jpg"/> -->
                </div>
            </div>
        </li>
        {/foreach}
    </ul>
        <div class="slider"> 
          <ul class="slider-main"> 
           <li class="slider-panel"> 
            <a href="#" target="_blank"><img alt="打印" title="打印" src="{$Think.const.PIC}slide.jpg"></a> 
           </li> 
           <li class="slider-panel"> 
            <a href="#" target="_blank"><img alt="打印" title="打印" src="{$Think.const.PIC}slide1.jpg"></a> 
           </li> 
           <li class="slider-panel"> 
            <a href="#" target="_blank"><img alt="打印" title="打印" src="{$Think.const.PIC}slide4.jpg"></a> 
           </li> 
           <li class="slider-panel"> 
            <a href="#" target="_blank"><img alt="打印" title="打印" src="{$Think.const.PIC}slide3.jpg"></a> 
           </li><li class="slider-panel"> 
            <a href="#" target="_blank"><img alt="打印" title="打印" src="{$Think.const.PIC}slide2.jpg"></a> 
           </li> 
          </ul> 
          <div class="slider-extra"> 
           <ul class="slider-nav"> 
            <li class="slider-item">1</li> 
            <li class="slider-item">2</li> 
            <li class="slider-item">3</li> 
            <li class="slider-item">4</li> 
            <li class="slider-item">5</li> 
           </ul> 
           <div class="slider-page"> 
            <a class="slider-pre" href="javascript:;;">&lt;</a> 
            <a class="slider-next" href="javascript:;;">&gt;</a> 
           </div> 
          </div> 
         </div>
      </div>
      <div class="shop-block mar-t20">
        <div class="pro-block-content fl" style="width:1030px;">
          <div class="shop-pro">
            <ul>
            {foreach $commidities as $data}
              <li>
                <a href="{:url('CommiditiesInfo/getCommidityInfoByCommidityId',['commidityId' => $data.id])}"><img src="{$data.image}" width="215" height="205"></a>
                <b>￥{$data.price}元</b>
                <span class="intro">{$data.introduction}</span>
                <div id="commidityleft" style="float:left;">
                    <span class="info">销量：<i>{$data.salesVolume}</i> <br><a href="{:url('CommentInfo/getCommidityAllComment',['commidityId' => $data.id])}">评价：{$commentTotal[$data.id]}</a></span>
                </div>
                <div id="commidityright" style="float:right;">
                    <span class="glyphicon glyphicon-hand-right" style="color:#4CA2D3;line-height:38px;cursor:pointer;" id="span_collection_{$data.id}" onclick="collectionByCommidityId({$data.id});"> 点击收藏</span>
                </div>     
              </li>
              {/foreach}
              <p class="clear"></p>
            </ul>
          </div>
            {$page}  
        </div>
        <p class="clear"></p>
      </div>
    </div>
</div>
<script type="text/javascript">
    function collectionByCommidityId(commidityId) {
        $.ajax({
            type : 'POST',
            url : 'http://campusstore/home/collection_info/collectionByCommidityId/commidityId/' + commidityId,
            dataType : 'json',
            data : {
                "commidityId" : commidityId,
            },
            success : function(data) {
                alert(data.msg);
            },
            error : function(data) {
                alert("页面错误！" + data.reponseText);
            }
        });
    }
</script>
